workflows/lead-generation-agent.json
{
  "name": "Lead Generation Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        128
      ],
      "id": "",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "Lead_Data",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "last_updated": "={{ $now.toUTC() }}",
            "lead_id": "={{ $json.lead_id }}",
            "row_number": 0
          },
          "matchingColumns": [
            "lead_id"
          ],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "country ",
              "displayName": "country ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "notes ",
              "displayName": "notes ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "enrichment_summary",
              "displayName": "enrichment_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lead_score ",
              "displayName": "lead_score ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lead_tier",
              "displayName": "lead_tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_subject",
              "displayName": "email_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_body",
              "displayName": "email_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_updated",
              "displayName": "last_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        432,
        32
      ],
      "id": "",
      "name": "Set status to incomplete",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2e4eLscJmgZBeccs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=System message:\nYou are a B2B sales operations analyst. Output ONLY valid JSON. No commentary.\n"
            },
            {
              "content": "=User message (template):\nYou are qualifying a lead for AI automation services.\n\nReturn ONLY raw JSON. Do not use markdown fences. Do not wrap in\n\nlead_score (0-100 integer)\n\nlead_tier (\"Hot\"|\"Warm\"|\"Cold\")\n\nreasoning (max 50 words)\n\npain_points (array of 2-5 strings)\n\npersonalized_angle (one sentence)\n\nenrichment_summary (max 40 words)\n\nLead:\nName: {{ $('Get Lead from Sheet').item.json.full_name }}\nRole:  {{ $('Get Lead from Sheet').item.json.role }}\nCompany: {{ $('Get Lead from Sheet').item.json.company }}\nWebsite:  {{ $('Get Lead from Sheet').item.json.website }}\nNotes: {{ $('Get Lead from Sheet').item.json['notes '] }}\nCountry:{{ $('Get Lead from Sheet').item.json['country '] }}\nSource: {{ $('Get Lead from Sheet').item.json.source }}\n\nScoring guidance:\n\nPrefer decision makers and operations-heavy roles.\n\nReward companies likely to benefit from automation.\n\nPenalize unclear/non-business leads.\n\nReturn ONLY JSON."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1088,
        -32
      ],
      "id": "",
      "name": "Qualify Lead with AI",
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Keep the original lead fields\nconst lead = $json;\n\n// Get the OpenAI response text\nconst aiText =\n  $json?.output?.[0]?.content?.find(c => c?.type === \"output_text\")?.text\n  ?? $json?.output?.[0]?.content?.[0]?.text;\n\nif (!aiText) throw new Error(\"No AI text found at output[0].content\");\n\n// Parse model JSON\nlet parsed;\ntry {\n  parsed = JSON.parse(\n    String(aiText).replace(/```json\\s*/gi, \"\").replace(/```\\s*/g, \"\").trim()\n  );\n} catch (e) {\n  throw new Error(\"AI JSON parse failed: \" + e.message + \"\\nRaw:\\n\" + aiText);\n}\n\n\n// Return the merged item (n8n will handle the array for you)\nreturn {\n  json: {\n    ...lead,\n    lead_score_ai: Number(parsed.lead_score),\n    lead_tier_ai: parsed.lead_tier,\n    enrichment_summary: parsed.enrichment_summary,\n    reasoning: parsed.reasoning,\n    pain_points: Array.isArray(parsed.pain_points) ? parsed.pain_points.join(\"; \") : \"\",\n    personalized_angle: parsed.personalized_angle,\n    last_updated: new Date().toISOString(),\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        160
      ],
      "id": "",
      "name": "Format Lead Data",
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are an expert B2B cold email copywriter. Output ONLY valid JSON."
            },
            {
              "content": "=You are writing a short, personalized B2B outreach email offering AI automation services.\n\nContext:\n- Lead name: {{ $('Prepare Lead Data').first().json.full_name }}\n- Role: {{ $('Prepare Lead Data').first().json.role }}\n- Company: {{ $('Prepare Lead Data').first().json.company }}\n- Country:{{ JSON.stringify($input.all()) }}\n- Lead source: {{ $('Prepare Lead Data').first().json.source }}\n\nBusiness context:\n{{ $('Format Lead Data').item.json.enrichment_summary }}\n\nIdentified pain points:\n{{ JSON.stringify($('Format Lead Data').item.json.pain_points || []) }}\n\nPersonalized angle:\n{{ $('Format Lead Data').item.json.personalized_angle }}\n\nLead tier:\n{{ $json.lead_tier_ai }}\n\nInstructions:\n- Write a natural, human-sounding email (not spammy).\n- Keep under 140 words.\n- Mention ONE specific detail related to their role or company.\n- Focus on how automation reduces manual work.\n- CTA: offer a 15-minute call OR ask them to reply with a keyword.\n- If lead tier is Cold, keep the email soft and non-pushy.\n- If lead tier is Hot, make the CTA more direct.\n\nReturn ONLY valid JSON in this format:\n{\n  \"subject\": \"...\",\n  \"body\": \"...\"\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2000,
        224
      ],
      "id": "",
      "name": "Generate Outreach Email",
      "alwaysOutputData": false,
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "function extractJson(text) {\n  if (!text) throw new Error(\"Empty email content\");\n  const cleaned = text\n    .replace(/```json\\s*/gi, \"\")\n    .replace(/```\\s*/g, \"\")\n    .trim();\n  return JSON.parse(cleaned);\n}\n\n// Handle different response structures\nlet raw;\n\nif ($input.item.json.message?.content) {\n  raw = $input.item.json.message.content;\n} else if ($input.item.json.output?.[0]?.content?.[0]?.text) {\n  raw = $input.item.json.output[0].content[0].text;\n} else if ($input.item.json.content?.[0]?.text) {\n  raw = $input.item.json.content[0].text;\n} else {\n  throw new Error(\"Could not find response content\");\n}\n\nif (!raw) throw new Error(\"Response content is empty\");\n\nconst parsed = extractJson(raw);\n\n// Get all input data\nconst inputData = $input.item.json;\n\n// Create output with all fields\nconst outputData = Object.assign({}, inputData, {\n  email_subject: parsed.subject,\n  email_body: parsed.body,\n  status: \"Processed\",\n  last_updated: new Date().toISOString()\n});\n\nreturn { json: outputData };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        224
      ],
      "id": "",
      "name": "Format Email Data"
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json.website }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "=lead_id",
              "value": "={{ $json.lead_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        768,
        144
      ],
      "id": "",
      "name": "Scrape Company Website",
      "notesInFlow": false,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Lead_Data",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -16,
        128
      ],
      "id": "",
      "name": "Get Lead from Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2e4eLscJmgZBeccs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "",
              "name": "website",
              "value": "={{\n  ($json.website || $json[\"website \"]) // Handles potential trailing spaces in headers\n    ? (\n        ($json.website || $json[\"website \"]).trim().startsWith('http')\n          ? ($json.website || $json[\"website \"]).trim()\n          : 'https://' + ($json.website || $json[\"website \"]).trim()\n      )\n    : ''\n}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        224
      ],
      "id": "",
      "name": "Prepare Lead Data",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Lead_Data",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "last_updated": "={{ $now }}",
            "email_subject": "={{ $('Format Email Data').item.json.email_subject }}",
            "email_body": "={{ $('Format Email Data').item.json.email_body }}",
            "lead_score ": "={{ $('Merge').item.json.lead_score_ai }}",
            "lead_tier": "={{ $('Merge').item.json.lead_tier_ai }}",
            "status": "Complete",
            "enrichment_summary": "={{ $('Format Lead Data').item.json.enrichment_summary }}",
            "lead_id": "={{ $('Merge').item.json.lead_id }}"
          },
          "matchingColumns": [
            "lead_id"
          ],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "country ",
              "displayName": "country ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "notes ",
              "displayName": "notes ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "enrichment_summary",
              "displayName": "enrichment_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead_score ",
              "displayName": "lead_score ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead_tier",
              "displayName": "lead_tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_subject",
              "displayName": "email_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_body",
              "displayName": "email_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_updated",
              "displayName": "last_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2704,
        224
      ],
      "id": "",
      "name": "Update Sheet with Results",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2e4eLscJmgZBeccs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1840,
        240
      ],
      "id": "",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Get the AI response\nconst aiResponse = $input.item.json;\n\n// Get the original data from the Merge node (2 nodes back)\nconst mergedData = $('Merge').item.json;\n\n// Combine them\nreturn {\n  json: {\n    ...mergedData,  // All the lead data\n    output: aiResponse.output  // The AI response\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        304
      ],
      "id": "",
      "name": "Combine Email Response"
    },
    {
      "parameters": {
        "content": "# 🧠 Phase 2: Agentic Intelligence\n---\n```javascript\n/** * MODEL: GPT-4o / Agentic Research\n * TASK 1: Scrapes live DOM for company context.\n * TASK 2: Qualifies lead based on custom ICP rubric.\n */\n",
        "height": 592,
        "width": 944,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        -208
      ],
      "typeVersion": 1,
      "id": "",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 🛠️ Phase 1: Data Validation\n---\n```javascript\n/** * STATUS: ACTIVE\n * LOGIC: Validates lead data from Google Sheets.\n * FILTER: Routes to error-handler if data is null.\n */",
        "height": 528,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        -144
      ],
      "typeVersion": 1,
      "id": "",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 📧 Phase 3: Personalization & Sync\n---\n```javascript\n/** * ACTION: Generates 1:1 outreach based on context.\n * OUTPUT: Updates Google Sheets with personalized drafts.\n */",
        "height": 400,
        "width": 1088,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1808,
        64
      ],
      "typeVersion": 1,
      "id": "",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 🛡️ SYSTEM RELIABILITY\n---\n```javascript\n/** * GLOBAL_ERROR_HANDLER: Connected\n * TRIGGER: Error Trigger (Linked Workflow)\n * ACTION: Automated failure logging to System Sheets.\n */",
        "height": 208,
        "width": 960,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1792,
        -192
      ],
      "typeVersion": 1,
      "id": "",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "",
                    "leftValue": "={{ $json.email }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Missing Email"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.company }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": ""
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Missing Company Name"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "",
                    "leftValue": "={{ $json.website }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Missing Company Website"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "",
                    "leftValue": "={{ $json.status.toLowerCase().trim() }}",
                    "rightValue": "new",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "New Status Check"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        208,
        96
      ],
      "id": "",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "Lead_Data",
          "cachedResultUrl": ""
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $('Switch').item.json.lead_id }}",
            "status": "Error",
            "last_updated": "={{ $now }}"
          },
          "matchingColumns": [
            "lead_id"
          ],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "country ",
              "displayName": "country ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "notes ",
              "displayName": "notes ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "enrichment_summary",
              "displayName": "enrichment_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lead_score ",
              "displayName": "lead_score ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lead_tier",
              "displayName": "lead_tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_subject",
              "displayName": "email_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_body",
              "displayName": "email_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_updated",
              "displayName": "last_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1184,
        160
      ],
      "id": "374afd32-407b-4e87-b3b9-a5934c84059d",
      "name": "Set status to incomplete1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2e4eLscJmgZBeccs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d653c527-d402-445e-ae28-9a5c192249d1",
              "leftValue": "={{ $json.data.toLowerCase() }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        928,
        144
      ],
      "id": "5276ef77-92e6-4adc-80a6-18b71669ff7b",
      "name": "If",
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {},
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Lead from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set status to incomplete": {
      "main": [
        []
      ]
    },
    "Qualify Lead with AI": {
      "main": [
        [
          {
            "node": "Format Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Lead Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Generate Outreach Email": {
      "main": [
        [
          {
            "node": "Format Email Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Combine Email Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email Data": {
      "main": [
        [
          {
            "node": "Update Sheet with Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Company Website": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Lead from Sheet": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Lead Data": {
      "main": [
        [
          {
            "node": "Scrape Company Website",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet with Results": {
      "main": [
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Generate Outreach Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Email Response": {
      "main": [
        [
          {
            "node": "Format Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Set status to incomplete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set status to incomplete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set status to incomplete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Qualify Lead with AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set status to incomplete1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "",
  "tags": []
}